# BackItUp .gitignore

# Personal Configuration Files
/Config/**
/Config/
*.yaml

# Python cache files
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual Environments
.venv/
venv/
ENV/
env/

# User Data
/Data/**
/Data/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Logs
*.log

# Local backup files
*.bak

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/